@font-face{
    font-family: "Outfit";
    src: url(Outfit-VariableFont_wght.ttf) format(truetype);
    font-style: normal;
    }

body {
    background-color: hsl(212, 45%, 89%)
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 20em;
    height: auto;
    background-color: white;
    margin: auto;
    border-radius: 20px;
    font-family: "Outfit";
    align-content: center;
    }

#bild {
width: 18em;
margin: auto;
padding-top: 1em;
border-radius: 10px;
text-align: center;
    align-content: center;

}

h2 {
    padding-left: 6%;
    padding-right: 6%;
    text-align: center;
    align-content: center;
    margin-bottom: 0;
}

p {
    color: hsl(220, 15%, 55%);
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 6%;
    text-align: center;
    align-content: center;
}




















.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


